.demo{
  padding: 93px 0 191px 0;
  background: url("../images/demo/bg.png") top left/100% 100% no-repeat;
  &__title{
    @include text(40px, white, 45px, 700);
    text-align: center;
  }
  input{
    height: 45px;
    width: 265px;
    border-top: 1px solid $spqr;
    border-left: .5px solid $spqr;
    border-bottom: 1px solid $spqr;
    border-radius: 27.5px 0 0 27.5px;
    outline: none;
    padding: 13px 0 11px 26px;
    margin-top: 39px;
    position: absolute;
    left: 53%;
    transform: translateX(-100%);
  }
  button{
    @include text(15px, white, 21px, 400);
    height: 45px;
    width: 187px;
    background-color: $spqr;
    border-radius: 0 27.5px 27.5px 0;
    outline: none;
    border-top: 1px solid $spqr;
    border-right: 1px solid $spqr;
    border-bottom: 1px solid $spqr;
    border-left: 1px solid $spqr;
    margin-top: 39px;
    position: absolute;
    left: 53%;
    cursor: pointer;
    &:hover{
      color: $spqr;
      background-color: white;
    }
  }
}

.demo > .container{
  position: relative;
}

