.features{
  padding: 94px 0 220px 0;
  &__title{
    @include text(40px, black, 45px, 700);
    text-align: center;
  }
  &__img{
    display: block;
    margin: 0 auto;
    margin-top: 28.25px;
  }
  &__firstRow{
    margin-bottom: 84px;
  }
}
.features h4{
  @include text(19px, black, 45px, 700);
  text-align: center;
}
.features p{
  @include text(15px, black, 22px, 400);
  text-align: center;
}

